<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logPath" source="logging.path" defaultValue="${catalina.home:-.}/logs"/>
    <!--不包含类名和行号%class{36}:%line，因为其性能开销大，如果有需要。再增加动态开关控制的不同pattern-->
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{traceId} - %msg %rEx{full,
                java.lang,
                javax.servlet,
                org.springframework,
                org.apache.catalina,
                org.apache.tomcat,
                com.mongodb,
                java.base/jdk.internal.reflect,
                org.apache.coyote,

                com.fxiaoke.boot,
                com.fxiaoke.erpdss.ipaas.springcommon.aspect,
                com.fxiaoke.circuit.breaker,

                }%n"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 文件输出 不再容器输出单独的ERROR_LOG 可从日志中心看错误日志 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 使用应用名区分不同日志文件 -->
        <file>${logPath}/fs-app.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/fs-app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>8GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
        <!--影响性能 暂不使用-->
        <!--<includeCallerData>true</includeCallerData>-->
    </appender>

    <!-- 第三方库日志级别配置 -->
    <logger name="com.fxiaoke.i18n.client" level="WARN"/>
    <logger name="org.apache.kafka.clients" level="WARN"/>

    <!-- 开发环境配置 -->
    <springProfile name="dev,test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>


    <root level="INFO">
        <appender-ref ref="ASYNC_FILE"/>
    </root>
</configuration>
